###### list comprehension
- RETURNS list object

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
## syntax of list comprehension
# [<out_expression> for <variable> in <iterables> (<conditional statememnts if any>)]

 Advantages of using list comprehension
        - elegant form of loops 
        - many lines of code can be summarized by 1 line
        - faster than traditional loops

In [3]:
## add a value 2 to each item of the list range(1,10)

In [4]:
# %%timeit
o_list = []
for each in range(1,11):
    o_list.append(each+2)
    
o_list

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [5]:
[each+2 for each in range(1,11)] # list comprehension

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

1. generate a list by squaring integers from 1 : 10
2. generate a list of even numbers
3. generate a list of square of even numbers.
4. generate a list of square of even numbers and square of the odd numbers
5. generate a list by this mapping: 'P' if N is positive; 'N' if N is genative else 'Z' N is zero where -10>= N<= 10

In [6]:
# generate a list by squaring integers from 1 : 10
sq = []
for each in range(1,11):
    sq.append(each**2)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
sq2 = [each**2 for each in range(1,11)]
sq2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# generate a list of even numbers
even = []
for each in range(1,11):
    if each%2 == 0:
        even.append(each)
even

[2, 4, 6, 8, 10]

In [9]:
[each for each in range(1,11) if each%2 == 0]

[2, 4, 6, 8, 10]

In [10]:
# generate a list of square of even numbers.
[each**2 for each in range(1,11) if each%2 == 0]

[4, 16, 36, 64, 100]

In [11]:
# generate a list of square of even numbers and square of the odd numbers
o_list = []
for each in range(1,11):
    if each%2 == 0:
        o_list.append(each**2)
    else:
        o_list.append(each**0.5)
o_list

[1.0,
 4,
 1.7320508075688772,
 16,
 2.23606797749979,
 36,
 2.6457513110645907,
 64,
 3.0,
 100]

In [12]:
[each**2 if each%2==0 else each**0.5 for each in range(1,11)]

[1.0,
 4,
 1.7320508075688772,
 16,
 2.23606797749979,
 36,
 2.6457513110645907,
 64,
 3.0,
 100]

In [13]:
# generate a list by this mapping: 'P' if N is positive; 'N' if N is genative else 'Z' N is zero where -10>= N<= 10
# [-10,-9,-8...0,...8,9,10]
# ['N',"N",,,,'Z',....'P',"P"]

o_list = []
for each in range(-10,11):
    if each > 0 :
        o_list.append('P')
    elif each < 0:
        o_list.append('N')
    else:
        o_list.append('Z')

# o_list

In [14]:
['P' if each > 0 else 'N' if each <0 else 'Z' for each in range(-10,11) ] # example of list comprehension with if-elif-else statament

['N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Z',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P']

###### Peform this mapping between input and output list
    input list => gender = ['female','male','female','female','male','female','Female','MALE','FEMALE']
    output list => gender_E = [1,0,1,1,0,1,1,0,1]

In [15]:
[1 if x.lower() == 'female' else 0 for x in ['female','male','female','female','male','female','Female','MALE','FEMALE']]

[1, 0, 1, 1, 0, 1, 1, 0, 1]

In [16]:
[1 if x.lower() == 'female' else 0 if x.lower()=='male' else -1 for x in ['female','male','female','female','male','female','Female','MALE','FEMALE']]

[1, 0, 1, 1, 0, 1, 1, 0, 1]

###### Example of list comprehension with nested loops

    for i in range(1,4):
        for j in range(1,11):
            print(i*j)

In [17]:
[i*j for i in range(1,4) for j in range(1,11)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30]

    for i in range(1,4):
        for j in range(1,11):
            if j%2== 0:
                print(i*j)

In [18]:
[i*j for i in range(1,4) for j in range(1,11) if j%2== 0]

[2, 4, 6, 8, 10, 4, 8, 12, 16, 20, 6, 12, 18, 24, 30]

    for i in range(1,4):
        for j in range(1,11):
            if j%2== 0:
                print(i*j)
            else:
                print('NA')

In [19]:
[i*j if j%2== 0 else 'NA' for i in range(1,4) for j in range(1,11)]

['NA',
 2,
 'NA',
 4,
 'NA',
 6,
 'NA',
 8,
 'NA',
 10,
 'NA',
 4,
 'NA',
 8,
 'NA',
 12,
 'NA',
 16,
 'NA',
 20,
 'NA',
 6,
 'NA',
 12,
 'NA',
 18,
 'NA',
 24,
 'NA',
 30]

    for i in range(1,4):
        for j in range(1,11):
            if j%2== 0:
                print(i*j,j,i)

In [20]:
[(i*j,i,j) for i in range(1,4) for j in range(1,11) if j%2== 0]

[(2, 1, 2),
 (4, 1, 4),
 (6, 1, 6),
 (8, 1, 8),
 (10, 1, 10),
 (4, 2, 2),
 (8, 2, 4),
 (12, 2, 6),
 (16, 2, 8),
 (20, 2, 10),
 (6, 3, 2),
 (12, 3, 4),
 (18, 3, 6),
 (24, 3, 8),
 (30, 3, 10)]

In [21]:
[[i*j,i,j] for i in range(1,4) for j in range(1,11) if j%2== 0]

[[2, 1, 2],
 [4, 1, 4],
 [6, 1, 6],
 [8, 1, 8],
 [10, 1, 10],
 [4, 2, 2],
 [8, 2, 4],
 [12, 2, 6],
 [16, 2, 8],
 [20, 2, 10],
 [6, 3, 2],
 [12, 3, 4],
 [18, 3, 6],
 [24, 3, 8],
 [30, 3, 10]]

###### list generator

In [22]:
## syntax
# (<out_expression> for <variable> in <iterables> (<conditional statememnts if any>))

In [23]:
[x**2 for x in range(1,6)] ## list comprehension

[1, 4, 9, 16, 25]

In [24]:
(x**2 for x in range(1,6)) ## list generator

In [25]:
# list comprehension => returns a list object; faster; time efficient
# list generator => returns an iterator; slower (lazy generator); memory efficient

In [26]:
(x**2 for x in range(1,6))

In [27]:
# %memit 
sum([x**2 for x in range(1,10)])

285

In [28]:
sum((x**2 for x in range(1,10))) ## efficient

285

In [29]:
list((x**2 for x in range(1,6)))

[1, 4, 9, 16, 25]

In [30]:
# tuple(x**2 for x in range(1,6))

In [31]:
for i in (x**2 for x in range(1,6)):
    print(i**3)

1
64
729
4096
15625

In [32]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [33]:
# (i*j for i in range (1,4) for j in range (1,11) if j%2==0 )