## Python Collection
     List
     Tuple
     Set
     Dictionary

### List - ordered and changeable, allows duplicate members

In [ ]:
#syntax
# [val1,val2,....valN]  # any python supported data type

In [1]:
int_list = [1,2,3,4,5]
int_float = [1.2, 3.1, 4.3, 4.5]
str_list = ['a','b','c','d']
mix_list = [1,2.0,'5', False, 1,5]
print(type(mix_list))
print(type(int_list))

<class 'list'>
<class 'list'>

In [2]:
mylist = [1,2,2,3,1,2]   #allows duplicate members
mylist

[1, 2, 2, 3, 1, 2]

In [3]:
## list() - converts any data type into list
list((1,2,3,4,5))  
list

[1, 2, 3, 4, 5]

#### Accessing items of list
         -indexing
         -slicing
         -negative indexing
         -negative slicing

In [3]:
#indexing
#syntax: <list_obj>[index]

mylist = [1,2,3,4.0,5,'5','string',[100,200,300,400,500],'bangalore','pune','8',9,10,30,50,12]

print(mylist[0])  #fetch 1st element

print(mylist[1])  #fetch 2nd element

print(mylist[9])  #fetch 10th element

print(mylist[7])  #fetch 8th element

#fetch integer 300 from [100,200,300,400,500] list
print(mylist[7][2])

#print(mylist[7,[2]])  #error : we have to use separate square bracket

1
2
pune
[100, 200, 300, 400, 500]
300

In [9]:
# fetching data type of elements of list
# in list, the type of each element gets stored in memory as it is, it's not getting mixed up - heterogenous

print(mylist[0], type(mylist[0]))  
print(mylist[8], type(mylist[8]))  
print(mylist[3], type(mylist[3]))  
print(mylist[7], type(mylist[7]))

1 <class 'int'>
bangalore <class 'str'>
4.0 <class 'float'>
[100, 200, 300, 400, 500] <class 'list'>

In [ ]:
#Slicing
# syntax: <list_obj>[start:end] wheer end is exclusive and start= 0(default), end= length(list) - 1

In [13]:
print(mylist)

[1, 2, 3, 4.0, 5, '5', 'string', [100, 200, 300, 400, 500], 'bangalore', 'pune', '8', 9, 10, 30, 50, 12]

In [14]:
## fetch [1,2,3,4.0]
mylist[0:4]
mylist[:4]

## fetch []

[1, 2, 3, 4.0]

In [15]:
print(mylist[8:])  #['bangalore', 'pune', '8', 9, 10, 30, 50, 12]
print(mylist[:6])  #[1, 2, 3, 4.0, 5, '5',]
print(mylist[:])   # whole list will be returned
print(mylist[7][2:4])

['bangalore', 'pune', '8', 9, 10, 30, 50, 12]
[1, 2, 3, 4.0, 5, '5']
[1, 2, 3, 4.0, 5, '5', 'string', [100, 200, 300, 400, 500], 'bangalore', 'pune', '8', 9, 10, 30, 50, 12]
[300, 400]

In [19]:
## negative indexing

print(mylist[-1])
print(mylist[-2])
print(mylist[-9])

12
50
[100, 200, 300, 400, 500]

In [17]:
## len()
len(mylist)  # returns length of the list

16

In [4]:
print(mylist)

[1, 2, 3, 4.0, 5, '5', 'string', [100, 200, 300, 400, 500], 'bangalore', 'pune', '8', 9, 10, 30, 50, 12]

In [25]:
print(mylist[10:])  #positive slicing
print(mylist[-6:])  #negative slicing
print(mylist[-6:-1])

['8', 9, 10, 30, 50, 12]
['8', 9, 10, 30, 50, 12]
['8', 9, 10, 30, 50]

In [5]:
# possible ways to extract 300 from the list

print(mylist[7][2])
print(mylist[7][-3])
print(mylist[-9][2])
print(mylist[-9][-3])

300
300
300
300

In [6]:
mylist.index('bangalore')   # to get index of any element

8