###### Tuple
    - ordered, immutable, indexable, hetrogenous data structure

In [1]:
## syntax of tuple
# (val1, val2, val3,....,valN)  => val1, val2, ....valN can be any python supported data types

In [2]:
t1 = (1,2,3,4,5)
print(type(t1))
print(t1)

t1 = (3,4,5.0,'a',3,4,(3,4),[60,70,80])
print(t1)

<class 'tuple'>
(1, 2, 3, 4, 5)
(3, 4, 5.0, 'a', 3, 4, (3, 4), [60, 70, 80])

In [3]:
# tuple()
l1 = [3,4,5,7]
print(type(l1))
print(l1)

### converting list to tuple
print(type(tuple(l1)))

<class 'list'>
[3, 4, 5, 7]
<class 'tuple'>

###### Access elements of the tuple object
    - indexing
    - slicing
    - negative indexing
    - negative slicing

In [4]:
t1 = (20,30,50,(40,55,60),[56,66,77,[88,99,101]], 'city',[22.2,44.4],55.5)

In [5]:
## fetch 88
print(t1[4][-1][0])

## fetch [56,66,77]
print(t1[4][0:3])

## fetch 50
print(t1[2])

## fetch out 'city'
print(t1[-3])

## fetch 55.5
print(t1[-1])

## fetch [56,66,77,[88,99,101]], 'city'
print(t1[4:6])

## fetch (50,(40,55,60))
print(t1[2:4])

88
[56, 66, 77]
50
city
55.5
([56, 66, 77, [88, 99, 101]], 'city')
(50, (40, 55, 60))

In [6]:
t1 = (20,30,50,(40,55,60),[56,66,77,[88,99,101]], 'city',[22.2,44.4],55.5)
# replace 'city' with 'pune'
# t1[-3] = 'pune' ### immutable

In [7]:
## insert, append, extend, deleting, modifying

In [8]:
# [1,2,3,4]
# (1,2,3,4)

In [9]:
from sys import getsizeof

In [10]:
print(getsizeof([1,2,3,4,5,[10,20,50]]))
print(getsizeof((1,2,3,4,5,[10,20,50])))

112
96

In [11]:
# t1.count(), t1.index()

In [12]:
### loop through a tuple
for each in tuple(range(1,11)):
    print(each)

1
2
3
4
5
6
7
8
9
10

In [13]:
### if an item exists in a tuple
'bangalore' in ("bangalore","pune","chennai")

True

In [14]:
t2 = t1

In [15]:
print(t2)
print(t1)

(20, 30, 50, (40, 55, 60), [56, 66, 77, [88, 99, 101]], 'city', [22.2, 44.4], 55.5)
(20, 30, 50, (40, 55, 60), [56, 66, 77, [88, 99, 101]], 'city', [22.2, 44.4], 55.5)

###### Dictionary
    - unordered, 
    - mutable, 
    - indexable,
    - keys - can be any python suported data which are constant: eg: string
    - values - values can by any python supported data
    - keys can not be duplicates, howevere, values can be duplicate

In [16]:
# ## syntax of dictionary
# {key1:val1,key2:val2,key3:val3,......keyN:valN} => keys can be any python suported data which are constant: eg: string
#                                                 => values can by any python supported data

In [17]:
D = input('Enter your name: ')
students = {'name':['A','B','C',D],
            'rollno': (1,2,3,4),
            'scores':[30,40,50,60],
            'address':{'city':['bangalore','pune','chennai','delhi'],
                       'state':['KN','MH','TN','DH'],
                       'country':'IN'}
           }

Enter your name: D

In [18]:
print(type(students))
students

<class 'dict'>

{'name': ['A', 'B', 'C', 'D'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'pune', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'}}

In [19]:
students = {'name':['A','B','C','D'],
            'rollno': (1,2,3,4),
            'scores':[30,40,50,60],
            'address':{'city':['bangalore','pune','chennai','delhi'],
                       'state':['KN','MH','TN','DH'],
                       'country':'IN'},
            'name':['A','G','F','E'],
            'rollno2': (1,2,3,4)
           }
students

{'name': ['A', 'G', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'pune', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

In [20]:
names = ['A','B','C']
scores = [40,50,30]
dict(zip(names,scores))

{'A': 40, 'B': 50, 'C': 30}

###### Accessing values from a dictionary

In [21]:
students

{'name': ['A', 'G', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'pune', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

In [22]:
## fetch 50
print(students['scores'][-2])
print(students['scores'][2])

50
50

In [23]:
## fetch 4
print(students['rollno'][-1])

## fetch 'MH'
print(students['address']['state'][1])

## fetch 'IN'
print(students['address']['country'])

4
MH
IN

###### Modify an item

In [24]:
students

{'name': ['A', 'G', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'pune', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

In [25]:
students['address']['city'][1] = 'mumbai'

In [26]:
students

{'name': ['A', 'G', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

###### looping through dictionary

In [27]:
students

{'name': ['A', 'G', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

In [28]:
for key_val_pair in students.items():
    print(key_val_pair)

('name', ['A', 'G', 'F', 'E'])
('rollno', (1, 2, 3, 4))
('scores', [30, 40, 50, 60])
('address', {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'], 'state': ['KN', 'MH', 'TN', 'DH'], 'country': 'IN'})
('rollno2', (1, 2, 3, 4))

In [29]:
### loop through 'students' and try to replace 'G' with 'M'
for key_val_pair in students.items():
    if key_val_pair[0] == 'name':
        key_val_pair[1][1] = 'M'
        
students

{'name': ['A', 'M', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'scores': [30, 40, 50, 60],
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

In [30]:
# ### loop through 'students' and try to replace '3' with '7' under 'rollno' 
# for key_val_pair in students.items():
#     if key_val_pair[0] == 'rollno':
#         key_val_pair[1][2] = 7
        
# students

In [31]:
for k in students.keys(): # keys
    print(k)

name
rollno
scores
address
rollno2

In [32]:
for v in students.values(): # keys
    print(v)

['A', 'M', 'F', 'E']
(1, 2, 3, 4)
[30, 40, 50, 60]
{'city': ['bangalore', 'mumbai', 'chennai', 'delhi'], 'state': ['KN', 'MH', 'TN', 'DH'], 'country': 'IN'}
(1, 2, 3, 4)

In [33]:
for k,v in students.items():
    print(k,v)

name ['A', 'M', 'F', 'E']
rollno (1, 2, 3, 4)
scores [30, 40, 50, 60]
address {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'], 'state': ['KN', 'MH', 'TN', 'DH'], 'country': 'IN'}
rollno2 (1, 2, 3, 4)

In [34]:
### inbuilt methods
names = ['A','B','C']
scores = [40,50,30]
students.fromkeys(names, scores)

{'A': [40, 50, 30], 'B': [40, 50, 30], 'C': [40, 50, 30]}

In [35]:
students.get('scores')

[30, 40, 50, 60]

In [36]:
students.pop('scores') # delete

[30, 40, 50, 60]

In [37]:
students

{'name': ['A', 'M', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4)}

In [38]:
students.setdefault('score')

In [39]:
students

{'name': ['A', 'M', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4),
 'score': None}

In [40]:
students.update({'score':[10,20]})

In [41]:
students

{'name': ['A', 'M', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4),
 'score': [10, 20]}

In [42]:
students.update({'score1':[10,20]})

In [43]:
students

{'name': ['A', 'M', 'F', 'E'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['bangalore', 'mumbai', 'chennai', 'delhi'],
  'state': ['KN', 'MH', 'TN', 'DH'],
  'country': 'IN'},
 'rollno2': (1, 2, 3, 4),
 'score': [10, 20],
 'score1': [10, 20]}

In [44]:
t1 = tuple(range(1,21))
t2 = tuple(range(15,41))
print(t1)
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
(15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40)

###### sets
 - unordered
 - can no tbe indexed
 - duplicate members not allowed

In [45]:
### syntax
# {val1,val2,val3,val4,....valN}

### set(iterable)

In [46]:
print(type({}))
print(type({1,2}))

<class 'dict'>
<class 'set'>

In [47]:
print({1,2,3,4})
print({1,1,2,3,4,1,2,3,4,1,1})

{1, 2, 3, 4}
{1, 2, 3, 4}

In [48]:
# list => []
# tuple => ()
# dictionary => {}
# set => {}

In [49]:
s1 = set(range(1,21))
s2 = set(range(15,41))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40}

In [50]:
s1.intersection(s2)

{15, 16, 17, 18, 19, 20}

In [51]:
print(s1)
print(s1.intersection(s2))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [52]:
print(s1)
print(s1.intersection_update(s2))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
None
{15, 16, 17, 18, 19, 20}

In [53]:
s1 = set(range(1,21))
s2 = set(range(15,41))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40}

In [54]:
# s1.union(s2)

In [55]:
s1.difference(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [56]:
# s1.symmetric_difference(s2)

In [57]:
s1.issubset(s2)

False

In [58]:
# for each in s1:
#     print(each)